.gallery
  .container
    h2.text-center Brand new in the shop

    mixin image(url, caption, alt)
      a(href=url data-lightbox="invitations" data-title=caption)
        img(src=url alt=alt)
      p.caption= caption


    .row.invitation
      .col-md-4
        +image("/img/invitation/new/boarding-pass-wedding-invitation.png", "Boarding pass invite", "Boarding pass themed wedding invitation. This quirky wedding invitation is fun way of inviting people to join your wedding celebrations.")
      .col-md-4
        +image("/img/invitation/new/warli-wedding-invitation.png", "Rustic Warli invite", "Warli themed wedding invitation")
       .col-md-4
        +image("/img/invitation/new/beach-playful-wedding-invitation.png", "Personalities showing through", "Beach playful wedding invitation")
     

    .row.invitation
      .col-md-4
        +image("/img/invitation/new/cd-wedding-invitation.png", "CD style invite", "CD wedding invitation")
      .col-md-4
        +image("/img/invitation/new/cooking-wedding-invitation.png", "Wedding invite with a little 'spice'", "Cooking wedding invitation")
      .col-md-4
        +image("/img/invitation/new/kokopelli-engrave-wedding-invitation.png", "Kokopelli Engraved coaster invite", "Kokopelli Engraved Wedding Invitation")

    .row.invitation
      .col-md-4
        +image("/img/invitation/new/minion-wedding-invitation.png", "Bride & Groom as Minions", "Minion theme wedding invitation")
      .col-md-4
        +image("/img/invitation/new/incredibles-cartoon-wedding-invitation.png", "Super Hero invite", "Incredibles Cartoon wedding invitation")
      .col-md-4
        +image("/img/invitation/new/iyer-iyengar-wedding-invitation.png", "Sundari neeyum..Sundaran naanum", "Iyer Iyengar wedding invitation")

      
    .row.invitation
      .col-md-4
        +image("/img/invitation/new/chess-violin-wedding-invitation.png", "Check Mate","Chess Violin wedding invitation")
      .col-md-4
        +image("/img/invitation/new/king-queen-cardboard-weding-invite.png", "Vintage wedding invite", "King Queen wedding invitation")
      .col-md-4
        +image("/img/invitation/new/shopaholic-wedding-invitation.png", "Shopaholic invite", "Shopaholic wedding invitation")
      
    .row.invitation
      .col-md-4
        +image("/img/invitation/new/india-us-golden-gate-wedding-invitation.png" , "How it all started..", "Golden Gate wedding invitation")
      .col-md-4
        +image("/img/invitation/new/national-park-wedding-invitation.png", "Fun long rides", "National park wedding Invitation")
      .col-md-4
        +image("/img/invitation/new/peacock-wedding-invitation.png" , "Classy peacock invite", "Peacock wedding invitation")

    .row.invitation
      .col-md-4
        +image("/img/invitation/new/loveatfirstsight-wedding-invitation.png" , "Love at first sight", "Love at first sight")
      .col-md-4
        +image("/img/invitation/new/offer-letter-wedding-invitation.png" , "Offer letter invite", "Offer letter wedding invitation")
      .col-md-4
        +image("/img/invitation/new/cute-save-the-date-invitation.png",  "Aww, Isn't it cute?","Cute save the date invitation")

    .row.invitation
      .col-md-4
        +image("/img/invitation/new/tamil-rajini-wedding-invitation.png" , "Movie poster invite", "Tamil Rajini wedding invitation")
      .col-md-4
        +image("/img/invitation/new/tamil-tr-sam-anderson-wedding-invitation.png" , "Tamil Cinema invite", "Tamil Cinema wedding invitation")
      .col-md-4
        +image("/img/invitation/new/tamil-60-birthday-invitation.png","60th birthday invitation", "Tamil 60th birthday invitation")

    .row.invitation
      .col-md-4
        +image("/img/invitation/new/radhe-krishna-wedding-invitation.png" , "Radhe Krishna invite", "Radhe Krishna wedding invitation")

  //-
    .row.invitation#tambram
      .col-md-1
      .col-md-5
        a(href="/img/invitation/tambram.png")
          img(src="/img/invitation/tambram.png" alt="Tamil Brahmin styled personal custom designed wedding invitation")
      .col-md-4
        p.caption TamBrahm style social media invite designed for an awesome couple. The design was carefully done to show capture TamBrahm wedding traditions.

    .row.invitation#tr
      .col-md-1
      .col-md-5
        a(href="/img/invitation/tr.png")
          img(src="/img/invitation/tr.png" alt="TR, Sam Anderson and Power Star blessing the couple style custom designed wedding invitation")
      .col-md-4
        p.caption Famous/Infamous Tamil Movie stars + "Local" village wedding posters = this invitation! Bringing out the essence of today's Tamil movie culture with TR style punch dialogues. This invitation was designed for the bride who enjoys tamil movie comedies.

    .row.invitation#monopoly
      .col-md-1
      .col-md-5
        a(href="/img/invitation/monopoly.png")
          img(src="/img/invitation/monopoly.png" alt="Monopoly game themed personal custom designed wedding invitation")
      .col-md-4
        p.caption Board game themed invite ! Oh yeah, a game lasting for a life time starts :-)

    .row.invitation#lovestory
      .col-md-1
      .col-md-5
        a(href="/img/invitation/lovestory.png")
          img(src="/img/invitation/lovestory.png" alt="Love story custom design indian wedding invitation")
      .col-md-4
        p.caption This card was designed for a couple who fell in love at first sight. Yep ! Just like in movies. Invite shows their first meeting and their dreams about being together for a lifetime

    .row.invitation#heroheroine
      .col-md-1
      .col-md-5
        a(href="/img/invitation/heroheroine.png")
          img(src="/img/invitation/heroheroine.png" alt="Personally designed custom indian wedding invitation")
      .col-md-4
        p.caption How do two different people get along so well ? He is an introvert, while she can befriend even a stranger on the road. The card was designed to highlight the unique traits that brought them together

    .row.invitation#kingqueen
      .col-md-1
      .col-md-5
        a(href="/img/invitation/kingqueen.png")
          img(src="/img/invitation/kingqueen.png" alt="King Queen style personal custom designed indian wedding invitation")
      .col-md-4
        p.caption Playing card themed wedding invitation for a fun couple. King and Queen of hearts are all set to start the game !

    .row.invitation#beemarathasanthi
      .col-md-1
      .col-md-5
        a(href="/img/invitation/beemarathasanthi.jpg")
          img(src="/img/invitation/beemarathasanthi.jpg" alt="Manja Patrikai has taken a different form in this invitation. It retains the authentic look, yet brings in creativity and makes it look fresh. This card was designed like a scroll from the olden days")
      .col-md-4
        p.caption "Manja Patrikai" has taken a different form in this invitation. It retains the authentic look, yet brings in creativity and makes it look fresh. This card was designed like a scroll from the olden days

    .row.invitation#betterpeacock
      .col-md-1
      .col-md-5
        a(href="/img/invitation/betterpeacock.png")
          img(src="/img/invitation/betterpeacock.png" alt="Classy looking peacock invitation with a detailed border with a color scheme choosen to bring make the card look exquisite")
      .col-md-4
        p.caption Classy looking peacock invitation with a detailed border with a color scheme choosen to bring make the card look exquisite

    .row.invitation#peacock
      .col-md-1
      .col-md-5
        a(href="/img/invitation/peacock.png")
          img.potrait(src="/img/invitation/peacock.png" alt="Elegant peacock style personal custom designed indian wedding invitation")
      .col-md-4
        p.caption A simple, yet elegant peacock wedding invitation. Golden background added a festive touch to the card

    .row.invitation#radhekrishna
      .col-md-1
      .col-md-5
        a(href="/img/invitation/radhekrishna.png")
          img(src="/img/invitation/radhekrishna.png" alt="Radhe Krishna save the date card")
      .col-md-4
        p.caption A modern, yet traditional "Save the Date" card. This card shows the couple's common interest in music and also highlights their personality that brought them together. Design Inspiration : Iskcon images
